<%- include('../../../template/header') -%>

<div class="wrapper">
    <%- include('../../../template/sidebar') -%>
    <div class="main-panel">
        <%- include('../../../template/navbar') -%>
        <div class="content">
            <div class="container-fluid">

                <!-- your content here -->

                <div class="container" >
                    <h3 class="text-center" font-weight:bold;><span class="underline--magical">Detailed Leave Information</span></h3>

                        <div class="card" style="margin-top: 40px">
                            <div class="card-header card-header-primary">
                                <h3 style="font-weight:bolder; text-align:center;"><%= offInfo.basicInfo.employeeName %></h3>
                                <h3 style="font-weight:bolder; text-align:center;"><%= offInfo.basicInfo.designation %></h3>
                            </div>
                            
                            <div class="card-body" style="color:white;">
                                <table id="myTable" class="table table-striped table-bordered text-center" >
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Leave Type</th>
                                            <th>From Date</th>
                                            <th>To Date</th>
                                            <th>Duration(Days)</th>
                                            <!-- <th class="text-center">Action</th> -->
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <% leaveCount.forEach((entry) => { %>
                                            <tr>
                                                <td></td>
                                                <td><%= entry.leaveType.leaveType %></td>
                                                <td><%= moment(entry.startDate).format('DD-MMM-YYYY') %></td>
                                                <td><%= moment(entry.endDate).format('DD-MMM-YYYY')  %></td>
                                                <td><%= entry.duration %></td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                        
                                </table>
                            </div>
                                
                        </div>
                        

                </div>

            </div>
        </div>
        <%- include('../../../template/footer') -%>
    </div>
</div>
<%- include('../../../template/footerlink') -%>