<%- include('../../../template/header') -%>

<div class="wrapper">
    <%- include('../../../template/sidebar') -%>
    <div class="main-panel">
        <%- include('../../../template/navbar') -%>
        <div class="content">
            <div class="container-fluid">
              <!-- your content here -->

              <h2 class="text-center" style='margin-top:0.1em; font-weight:bolder;'>Add Leave Type</h1>
                

                <div class="card">
                    <div class="card-body">
                        <form action="/leave/addLeaveType" method="post">
                            <div class="form-group">
                                <label>Add Leave Type</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="lType">
                                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                            </div>
                            <div class="form-group">
                                <label >Estimated Days</label>
                                <input type="number" class="form-control" id="exampleInputPassword1" name="lDays">
                            </div>
                    
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
                             
            </div>
        </div>
        <%- include('../../../template/footer') -%>
    </div>
</div>
<%- include('../../../template/footerlink') -%>