<%- include('../../template/header') -%>

<div class="wrapper" style="background-color: #f9f7f7;">
    <%- include('../../template/sidebar') -%>
    <div class="main-panel">
        <%- include('../../template/navbar') -%>
        <div class="content">
            <div class="container-fluid">
            <!-- your content here -->

            <div class="tree">
                <ul>
                    <li>
                        <a href="#">Managing Director</a>
                        <ul>
                            <!-- Administration Division -->
                            <li>
                                <a href="#">Administration Division</a>
                                <ul class="vertical">
                                    <li><a href="#">Human Resource <br> Department</a></li>
                                    <li><a href="#">Establishment <br> Department</a></li>
                                    <li><a href="#">Services & Logistic <br> Department</a></li>
                                    <li><a href="#">Health Care <br> Department</a></li>                                    
                                </ul>
                            </li>
                            <!-- Company Secretariat -->
                            <li>
                                <a href="#">Company Secretariat</a>
                                <ul class="vertical">
                                    <li><a href="#">Company Affairs <br> Department</a></li>
                                    <li style="visibility: hidden"><a href="#">Health Care <br> Department</a></li>
                                </ul>
                            </li>
                            <!-- Operation Division -->
                            <li>
                                <a href="#">Operation Division</a>
                                <ul class="vertical">
                                    <li><a href="#">PLant Operation <br> Department</a></li>
                                    <li><a href="#">Marketing <br> Department</a></li>
                                    <li><a href="#">Engineering Services <br> Department</a></li>
                                    <li><a href="#">Ashuganj Condensate <br> Handling</a></li>                                    
                                </ul>
                            </li>
                            <!-- CNG Division -->
                            <li>
                                <a href="#">CNG Division</a>                                                                                                            
                                <ul class="vertical">
                                    <li><a href="#">CNG Sales <br> & Service <br> Department</a></li>
                                    <li><a href="#">CNG Permission <br> & Monitoring <br> Department</a></li>
                                </ul>                                                                                                        
                            </li>
                            <!-- Planning & Development Division -->
                            <li>
                                <a href="#">Planning & Development </a>
                                <ul class="vertical">
                                    <li><a href="#">Planning <br> Department</a></li>
                                    <li><a href="#">Development <br> Department</a></li>                                    
                                </ul>
                            </li>
                            <!-- Finance Division -->
                            <li>
                                <a href="#">Finance Division</a>
                                <ul class="vertical">
                                    <li><a href="#">Planning <br> Department</a></li>
                                    <li><a href="#">Development <br> Department</a></li> 
                                </ul>
                            </li>
                            <!-- Audit Department -->
                            <li>
                                <a href="#">Audit Department</a>                                
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>

            </div>
        </div>
        <%- include('../../template/footer') -%>
    </div>
</div>
<%- include('../../template/footerlink') -%>
