<%- include('../../template/header') -%>
<div class="wrapper">
    <%- include('../../template/sidebar') -%>
    <div class="main-panel">
        <%- include('../../template/navbar') -%>
        <div class="content">
            <div class="container-fluid">

                <!-- your content here -->

                <div class="container">
                    <h3 class="text-center" style='margin-top:0.1em; font-weight:bolder;'><span class="underline--magical">Add Division Details</span></h3>
                
                    <div class="card">
                        <div class="card-body">
                            <form action="/division/addDiv" method="post">

                                <!-- Division Name -->
                                <div class="form-group">
                                    <label>Division Name</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="divName">
                                </div>

                                <!-- Officials Number -->
                                <div class="form-group">
                                    <label>Officials Number</label>
                                    <input type="number" class="form-control" id="exampleInputPassword1" name="offNum">
                                </div>

                                <!-- Staffs Number -->
                                <div class="form-group">
                                    <label>Staffs Number</label>
                                    <input type="number" class="form-control" id="exampleInputPassword1" name="staffNum">
                                </div>

                                <!-- Total Employee -->
                                <div class="form-group">
                                    <label>Total Employee</label>
                                    <input type="number" class="form-control" id="exampleInputPassword1" name="totalEmp">
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                                
                            </form>
                        </div>
                    </div>
                </div>
                                           
            </div>
        </div>
        <%- include('../../template/footer') -%>
    </div>
</div>
<%- include('../../template/footerlink') -%>