<%- include('../../template/header') -%>
<div class="wrapper">
    <%- include('../../template/sidebar') -%>
    <div class="main-panel">
        <%- include('../../template/navbar') -%>
        <div class="content">
            <div class="container-fluid">

                <!-- your content here -->

                <h3 class="text-center" style='margin-top:0.1em; font-weight:bolder;'><span class="underline--magical">The Division to see the specific Employee Information </span> </h3>

                
                <div class="row">
                    <% output.forEach((entry) => { %>                    
                        
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    
                                    <div class="card-icon">
                                        <i class="material-icons"></i>
                                    </div>
                                    
                                    <p class="card-category">Officers : <%= entry.officers%></p>
                                    <p class="card-category">Staffs : <%= entry.staffs%></p>
                                    <p class="card-category">Total Employee : <%= entry.totalEmployees%></p>                       
                                </div>
                                <div class="card-footer" style="height: 110px">
                                <div class="stats">
                                    <a href="/depEmp/<%= entry.id %>">
                                        <h3> <%= entry.departmentName %> </h3>
                                    </a>                                
                                </div>
                                </div>
                            </div>
                        </div>
                    
                    <% }); %>                 
                </div>
                                           
            </div>
        </div>
        <%- include('../../template/footer') -%>
    </div>
</div>
<%- include('../../template/footerlink') -%>